.about {
  &__body {
    @include flex;
    gap: 40px;
    padding: 30px 0;
  }

  &__icon {
    flex: 0 1 800px;
    min-height: 400px;
    border-radius: 6%;
    background: url("../assets/images/top-image.jpg") 100% / cover no-repeat;
    @extend %transition;

    &:hover {
      box-shadow: 3px 3px 7px 3px $color-black;
      transform: scale(1.06);
    }
  }

  &__content {
    flex: 0 1 700px;
    text-align: center;
  }

  &__title {
    margin: 0 0 25px;

    span {
      color: $color-dark-blue;
    }
  }

  &__subtitle {
    @include font($size: 2.8rem);
    text-transform: uppercase;
    color: $color-black;
    font-weight: 600;
    @extend %transition;

    &:hover {
      color: $color-red;
    }
  }

  &__subtitle-addition {
    @include font($size: 2.3rem);
  }
}

.about .container {
  padding: 0 30px;
}
