.nav {
  flex: 0 1 700px;
  &__list {
    @include flex;
  }
  &__item {
    @extend %transition;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
  }
}

.burger {
   display: none;
  &__line {
  }
}

.cover {
   display: none;
}
