$color-main: #f3cc0b;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #e40f0f;
$color-dark-light: #00000062;;

$content-width: 1230px;
$desktop-width-small: 1024px;
$tablet-width: 768px;
$mobile-width: 576px;
$mobile-width-small: 320px;
