$color-main: #FFDE59;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #e40f0f;
$color-dark-light: #00000062;
$color-dark-blue: #231e90;
$color-green: #09b310b0;
$color-add-light: #faded0;

$content-width: 1230px;
$desktop-width-small: 1024px;
$tablet-width: 768px;
$mobile-width: 576px;
$mobile-width-small: 440px;
